
body {
    background-color: #fbf7ed;
}
button {
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #dbd3c2;
}
button:hover, a:hover {
    transition: 0.3s;
}
button:disabled {
    background-color: #dbd3c2 !important;
    color: #b6ac97 !important;
}

.removenominationbutton {
    background-color: #eee8d9;
    width: 10.5em;
    padding: 2px
}
.removenominationbutton:hover {
    opacity: 70%;
}
.nominationposter{
    border-radius: 10px;
    width: 10em;
    height: 15em;
    box-shadow: 0 0 0.5em #dbd3c2;   
}
.posterplaceholder {
    background-color: #dbd3c2;
    color: #b6ac97;
    border-radius: 10px;
    width: 9.5em;
    height: 14.5em; 
    box-shadow: 0 0 0.5em #dbd3c2;
}
#nominationtitle {
    margin-top: 0.5em;
}

.addnominationbutton, .selectiondetailsbutton {
    margin: 0.5em;
}
.addnominationbutton {
    background-color: #008060;
    color: white;
}
.addnominationbutton:hover {
    background-color: #004c3f;
}

.selectiondetailsbutton, #clearnominations {
    background-color: #6b7177;
    color: white;
}
.selectiondetailsbutton:hover, #clearnominations:hover {
    background-color: #404347;
}

.input-group {
    box-shadow: 0 0 0.5em #dbd3c2; 
    border-radius: 10px;
}

.input-group-text {
    border-radius: 10px;
    border: none;
    background-color: #dbd3c2;
    color: black;
}
#searchbar {
    padding: 0.5em;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}
#searchbarprepend {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#searchbar:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px #004c3f; 
}

#selectionplot {
    margin-top: 0.5em;
}
.imdblink, .imdblink:visited {
    color: #008060;
    transition: transform 0.3s;
}
.imdblink:hover {
    color: #004c3f;
    text-decoration: none;
    transform: translate(0.5em, 0);
}

.searchresult {
    padding:0.5em;
}
.searchresult:hover {
    background-color: #eee8d9;
    border-radius: 10px;
}