
body {
    background-color: #fbf7ed;
}
button {
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #dbd3c2;
}
button:hover, a:hover {
    transition: 0.3s;
}
button:disabled {
    background-color: #dbd3c2 !important;
    color: #b6ac97 !important;
}

.removenominationbutton {
    background-color: #eee8d9;
    width: 10.5em;
    padding-left: 2px;
    padding-right: 2px;
}
.removenominationbutton:hover {
    opacity: 70%;
}
.nominationposter{
    border-radius: 10px;
    width: 10em;
    height: 15em;
    box-shadow: 0 0 0.5em #dbd3c2;   
}
.posterplaceholder {
    background-color: #dbd3c2;
    color: #b6ac97;
    border-radius: 10px;
    width: 10em;
    height: 15em; 
    box-shadow: 0 0 0.5em #dbd3c2;
}
#nominationtitle {
    margin-top: 0.5em;
}

.addnominationbutton, .selectiondetailsbutton {
    margin: 0.5em;
}
.addnominationbutton, #finalnominationbutton {
    background-color: #008060;
    color: white;
}
.addnominationbutton:hover, #finalnominationbutton:hover {
    background-color: #004c3f;
}

.selectiondetailsbutton, #clearnominations {
    background-color: #6b7177;
    color: white;
}
.selectiondetailsbutton:hover, #clearnominations:hover {
    background-color: #404347;
}

#finalnominationsection {
    padding: 0;
    box-shadow: 0 0 5px #004c3f; 
}
#finalnominationbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    box-shadow: 0 0 0.5em #dbd3c2; 
    border-radius: 10px;
}

.input-group-text {
    border-radius: 10px;
    border: none;
    background-color: #dbd3c2;
    color: black;
}
#searchbar {
    padding: 0.5em;
    color: black;
    border: none;
}
#searchbarprepend {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#searchbar:disabled {
    background-color: transparent;
}

#searchbar:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px #004c3f; 
}

#selectionplot {
    margin-top: 0.5em;
}
.imdblink, .imdblink:visited {
    color: #008060;
    transition: transform 0.3s;
}
.imdblink:hover {
    color: #004c3f;
    text-decoration: none;
    transform: translate(0.5em, 0);
}

.searchresult {
    padding:0.5em;
}
.searchresult:hover {
    background-color: #eee8d9;
    border-radius: 10px;
}


.Toastify__toast {
    text-align: center;
    border-radius: 10px !important;
}
.Toastify__toast--info {
    background-color: #008060 !important;
    box-shadow: 0 0 10px #004c3f !important;
}
.Toastify__toast--success {
    background-color: #96bf48 !important;
    box-shadow: 0 0 10px #96bf48 !important;
}

.navitem, .navlink:visited {
    color: #b6ac97;
    font-size: small;
}

.navlink {
    transition: ease-in-out 0.3s;
}
.navlink:hover {
    color: #96bf48;
    text-decoration: none;
    font-weight: bold;
}